body {
    padding-bottom: 0px !important;
}

nav {
    background-color: #0625BA;
    width: 100%;
    height: 48px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

#flex_nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 16px;
    padding-left: 16px;
    justify-content: space-between;
}

#flex_nav div {
    width: 32px;
}

.container {
    width: 100%;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}

.banner {
    position: relative;
    margin-bottom: 16px;
}

.banner>p {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    border: 3px solid #FFFFFF;
    position: absolute;
    bottom: 4px;
    left: 0;
}

.banner img {
    width: 100vw;
    margin-left: -32px;
}

.container_ou {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ou {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 100%;
}

.cultivatrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(151, 63, 189, 0.5);
    border: 5px solid #973FBD;
    box-sizing: border-box;
    padding: 64px 16px;
}

.porteuse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 70, 2, 0.5);
    border: 5px solid rgba(255, 70, 2, 0.5);
    box-sizing: border-box;
    padding: 64px 16px;
}

.porteuse>p, .cultivatrice>p {
    text-align: center;
    margin-bottom: 8px;
}