nav {
    background-color: #0625BA;
    width: 100%;
    height: 48px;
    position: sticky;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

#flex_nav {
    display: flex;
    padding-left: 24px;
    align-items: center;
    height: 100%;
    padding-right: 16px;
    justify-content: space-between;
}

#flex_nav img {
    cursor: pointer;
}

#flex_nav div {
    width: 32px;
}

.container {
    box-sizing: border-box;
    width: 100%;
}

.post {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 32px;
    padding-top: 16px;
}

.post_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.post_time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

.post_time>p:first-child {
    margin-right: 4px;
}

.post_resultat {
    padding: 4px 8px;
    text-align: center;
    cursor: pointer;
}

.commentaire {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.commentaire>img {
    margin-right: 8px;
}

.name_date {
    display: flex;
    flex-direction: row;
}

.name_date>p:first-child {
    margin-right: 32px;
}

.captur_commentaire {
    width: 100%;
}

.buttom_valider_1 {
    background-color: rgb(151, 63, 189, 0.5);
    border: #973FBD solid 2px;
    text-align: center;
    padding: 4px 8px;
}
.buttom_valider_2 {
    background-color: rgb(176, 105, 2, 0.5);
    border: #B06902 solid 2px;
    text-align: center;
    padding: 4px 8px;
}

.commentaire_info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}

.commentaire_info>p {
    margin-right: 24px;
    margin-top: 16px;
    font-size: 12px;
    margin-left: 4px;
}

/* POPUP */

#blur_popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    backdrop-filter: blur(10px);
}

#blur_popup.active {
    visibility: visible;
}

#popup {
    visibility: hidden;
    position: fixed;
    margin: auto;
    margin-top: 50vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    height: 100vh;
    width: 310px;
    height: 310px;
    background-image: url(Assets/Popup/fatou.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

#popup.active {
    visibility: visible;
}

#popup> div {
    display: flex;
    flex-direction: column;
}

#popup > div > * {
    margin-left: 8px;
    margin-top: 8px;
}

#popup .title {
    width: 220px;
}

#popup .right {
    margin-left: auto !important;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-top: 32px !important;
}

#popup button {
    position: absolute;
    padding: 10px 10px;
    bottom: 8px;
    right: 8px;
}

#popup img {
    position: absolute;
    top: 8px;
    right: 8px;
}