#logo {
    width: 206px;
    height: 16px;
}

.right {
    margin-right: 20px;
}

.searchingbar{
    display: flex;
    margin-left: 32px;
    
}

.searchingbar input {
    margin-top: 8px;
    margin-right: 32px;
    padding-left: 40px;
    outline: none;
    border: 0;
    width: 100%;
    height: 36px;
    background-image: url(Assets/FAQ/search.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
}

.banner{
    margin: 8px 32px 0px 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner > * {
    margin-top: 8px;
}

.Q1{
    background-color:#0624ba80 ;
    margin: 16px 32px 16px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0 6px 0;
}

.Text_Q1{
    margin-top: 10px;
    margin-left: 10px;
}

.arrow {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

.Q1:nth-child(3) {
    width: 100px;
}
