.searchingbar{
    color: #76768015;
    margin-top: 8px;
    margin-right: 32px;
    margin-left: 32px;
    width: 1,20vw;
    height: 22,555vh;
}

.search-txt{

}
.Text{
    margin-top: 3px;
}
.banner{
    margin-top: 8px;
    margin-right: 32px;
    margin-left: 32px;
    width: 1,20vw;
    height: 2,49vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.Q1{
    background-color:#0624ba80 ;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 32px;
    width: 1,20vw;
    height: 7,31vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:  8px 0px 8px 8px;

}

.Text_Q1{
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

}
