#footer {
    background-color: #0625BA;
    width: 100%;
    height: 64px;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
}

#flex_footer {
    display: flex;
    justify-content: space-between;
    width: 90.42vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.icon_footer {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    margin-top: 16px;
}

#flex_footer > a {     
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
}

.active {
    opacity: 1;
}