nav {
    background-color: #0625BA;
    width: 100%;
    height: 48px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

#flex_nav {
    display: flex;
    padding-left: 20px;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    justify-content: space-between;
}

#logo {
    width: 206px;
    height: 20px;
}

/* Burger-menu */

.burger_menu_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger_menu_middle {
    width: 26px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.burger_menu_middle::before, .burger_menu_middle::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.burger_menu_middle::before {
    transform: translateY(-7px);
}

.burger_menu_middle::after {
    transform: translateY(7px);
}

/* ANIMATION */
.burger_menu_button.open .burger_menu_middle {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.burger_menu_button.open .burger_menu_middle::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: #0625BA;
}

.burger_menu_button.open .burger_menu_middle::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: #0625BA;
}

#blur {
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    backdrop-filter: blur(10px);
}

#blur.active {
    animation-name: blurslidein;
    animation-duration: 0.5s;
    visibility: visible;
}

#blur.closed {
    animation-name: blurslideout;
    animation-duration: 0.5s;
}

#modal {
    visibility: hidden;
    position: fixed;
    top: 0px;
    z-index: 9999;
    height: 100vh;
    width: 232px;
}

#modal.active {
    animation-name: modalslidein;
    animation-duration: 0.5s;
    visibility: visible;
}

#modal.closed {
    animation-name: modalslideout;
    animation-duration: 0.5s;
}

@keyframes modalslidein {
    0% {left: -232px;}
    100% {left: 0px;}
}

@keyframes modalslideout {
    0% {left: 0px;
        visibility: visible;}
    100% {left: -232px;
        visibility: hidden;}
}

@keyframes blurslidein {
    0% {opacity: 0;}
    100% {opacity: 0.5;}
}

@keyframes blurslideout {
    0% {
        opacity: 0.5;
        visibility: visible;}
    100% {
        opacity: 0;
        visibility: hidden;}
}

#container_menu {
    display: flex;
    flex-direction: column;
    margin: 0px 16px 0px 16px;
    height: 100%;
}

#close {
    width: 24px;
    margin-top: 14px;
}

.searchbar{
    display: flex;
    margin: 8px 0px 16px 0px;
}

.searchbar input {
    padding-left: 36px;
    outline: none;
    border: 0;
    width: 100%;
    height: 32px;
    background-image: url(Assets/Menu/search.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
}

.searchbar input::placeholder {
    color: white;
}

.searchbar input {
    color: white;
}

.line {
    width: 100%;
    height: 2px;
    margin-bottom: 8px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.category > * {
    margin-top: 8px;
}

.category a {
    display: grid;
    grid-template-columns: 24px 1fr;
    width: 100%;
    text-decoration: none;
    padding: 2px 0;
    column-gap: 8px;
}

.category a img {
    width: 24px;
    height: 24px;
}

.category a p {
    margin-top: 2px;
}

#lower {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#account {
    margin: 16px 0px 0px -16px;
    width: 233px;
    height: 64px;
    display: grid;
    grid-template-columns: 32px 1fr;
    column-gap: 8px;
}

#account > * {
    margin-top: 16px;
    margin-left: 16px;
}

#account div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32px;
}

#account div :nth-child(2) {
    opacity: 0.5;
}
