@font-face {
    font-family: "Blacker Display ExtraBold";
    src: url("/Fonts/Blacker-Display-ExtraBold-trial.ttf") format("truetype");
}

@font-face {
    font-family: "Blacker Display Regular";
    src: url("/Fonts/Blacker-Display-Regular-trial.ttf") format("truetype");
}

@font-face {
    font-family: "SF Pro Display SemiBold";
    src: url("Fonts/FontsFree-Net-SFProDisplay-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "SF Pro Display Medium";
    src: url("Fonts/FontsFree-Net-SFProDisplay-Medium.ttf") format("truetype");
}


.blacker_extra {
    font-family: 'Blacker Display ExtraBold' !important;
}

.blacker_regular {
    font-family: 'Blacker Display Regular' !important;
}

.sfprodisplay_semibold {
    font-family: 'SF Pro Display SemiBold';
}

.sfprodisplay_medium {
    font-family: 'SF Pro Display Medium';
}

.h1 {/* WEB/H1 - Barlow Condensed - 48 - Bold */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.h2 {/* WEB/H2 - Barlow Condensed - 40 - Bold */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.h3 {/* WEB/H3 - Barlow Condensed - 32 - Bold */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.h4 {/* WEB/H4 - Barlow Condensed - 24 - Regular */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
}

.h5 {/* WEB/H5 - Barlow Condensed - 24 - Regular */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.h6 {/* WEB/H6 - Barlow Condensed - 8 - Regular */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 8px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/* COLOR */
.b_blue{background: #0625BA;}
.b_red{background: #FF4602;}
.b_brown{background: #B06902;}
.b_pink{background: #FF92C6;}
.b_yellow{background: #FBB104;}
.b_purple{background: #973FBD;}
.b_green{background: #798B22;}
.b_beige{background: #EEDFB7;}
.b_black{background: #000000;}
.b_white{background: #FFFFFF;}
.b_grey1{background: #333333;}
.b_grey2{background: #4F4F4F;}
.b_grey3{background: #828282;}
.b_grey4{background: #BDBDBD;}
.b_grey5{background: #E0E0E0;}
.b_grey6{background: #F2F2F2;}

.c_blue{color: #0625BA;}
.c_red{color: #FF4602;}
.c_brown{color: #B06902;}
.c_pink{color: #FF92C6;}
.c_yellow{color: #FBB104;}
.c_purple{color: #973FBD;}
.c_green{color: #798B22;}
.c_beige{color: #EEDFB7;}
.c_black{color: #000000;}
.c_white{color: #ffffff;}
.c_grey1{color: #333333;}
.c_grey2{color: #4F4F4F;}
.c_grey3{color: #828282;}
.c_grey4{color: #BDBDBD;}
.c_grey5{color: #E0E0E0;}
.c_grey6{color: #F2F2F2;}
.c_grey7{color: #3C3C43 ;}

button {
    cursor: pointer;
    padding: 4px;
}

#navbar {
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 100;
}

#footer {
    position: fixed;
    bottom: -1px;
    width: 100%;
    z-index: 100;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    padding-bottom: 63px !important;
}