body {
    background-image: url(Assets/Subscription/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#close {
    position: absolute;
    top: 24px;
    left: 32px;
    background: none;
}

#title {
    text-align: center;
    margin-top: 32px;
}

.content_sub {
    margin: 0px 32px 32px 32px;
}

/* Marche pas Xd */
.abonne_toi{
    font-weight: 700 !important;
}

.avis {
    display: flex;
    flex-direction: row;
}

.avis:nth-child(1) {
    margin-left: 8px;
}

.stars {
    display: flex;
    flex-direction: row;
}

.liste_abonnement li {
    display: flex;
    flex-direction: row;
}

.liste_abonnement svg {
    margin-left: 8px;
}

.formule {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.small {
    width: 80px;
    height: 120px;
}

.small div {
    margin-top: 20px;
}

.big {
    width: 100px;
    height: 144px;
}

.big div {
    margin-top: 10px;
}

.centered {
    text-align: center;
}

.italic {
    width: 100px;
    font-style: italic;
}