nav {
    background-color: #0625BA;
    width: 100%;
    height: 48px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

#flex_nav {
    display: flex;
    padding-left: 24px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
