body {
    padding-bottom: 16px !important;
}

.container {
    display: flex;
    flex-direction: column;
}

img {
    margin-bottom: 16px;
}

.container > *:not(img) {
    margin-left: 16px;
    margin-right: 16px;
}

.container div.center:not(.end) :nth-child(1){
    margin-bottom: 8px;
}

.container div.center {
    margin-bottom: 16px;
}

.end > * {
    margin-bottom: 8px;
}

.answer_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.answer {
    display: grid;
    grid-template-columns: 26px 1fr;
    margin-top: 16px;
}

input[type="checkbox" i] {
    margin: 0;
    width: 18px;
    height: 24px;
    margin-right: 8px;
    margin-top: 3px;
}

.percent {
    font-size: 72px;
    margin-top: 16px;
}

button {
    height: 54px;
    margin-top: 16px;
}
